mixin main-nav(current)
  +article-data
    - dateShortOptions = { weekday: "short", year: "numeric", month: "narrow" };
    - homeActive = current === "posts" ? "active" : "";
    
    nav.main.nav
      button.nav-toggle.btn-primary.fa.fa-reorder
      button.nav-close.fa.fa-remove
      a.tooltip.left.nav-rss.fa.fa-feed(href="/feed.xml" title="rss feed")
      a.tooltip.left.nav-twitter.fa.fa-twitter(href="http://www.twitter.com/nothing_box" title="twitter")
         
      ul.nav-list
        li.nav-item.fa.fa-home(class=homeActive)
          a.nav-link(href="/") Home
        each post, id in ctx
          - date = new Date(post.date)
          - shortDate = date.toLocaleDateString("en-US", dateOptions);
          - postActive = current === id ? "active" : "";
          
          li.nav-item.fa.fa-star(class=postActive)
            a.nav-link(href="/#{id}.html")= post.title
            p.post-nav-meta
              span.post-date= shortDate
              |  • 
              span.post-category= post.category

        li.nav-item.fa.fa-legal.impressum
          a.nav-link(href="/impressum.html") Impressum
